<!DOCTYPE html>
<html>
<head>
  <title>React App</title>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
  <!-- your own minifed css -->
  <!--<link rel="stylesheet" href="/css/main.css"/>-->
</head>
<body>
  <div id="content"></div>

  <!--scripts-->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- React latest-->
  <script src="../node_modules/react/dist/react.js"></script>
  <script src="../node_modules/react-dom/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <!--your react component-->
  <script type="text/babel" src="components/gridComponent.js"></script>
</body>
</html>
