<!-- template.html -->
<html>
<head>
    <title>Comments App</title>
    <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/main.css"/>
    <!--script src="http://fb.me/react-0.8.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.8.0.js"></script-->

    <script src="/public/vendor/react/react.js"></script>
    <script src="/public/vendor/react/JSXTransformer.js"></script>

    <script src="/public/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/public/vendor/showdown/showdown.min.js"></script>
    <script src="/public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="content"></div>
<script type="text/jsx" src="/public/components/gridComponent.js"></script>
</body>
</html>