<!-- template.html -->
doctype html
<html>
  <head>
    <title>Comments App</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <!--script src="http://fb.me/react-0.8.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.8.0.js"></script-->

    <script src="/vendor/react-0.10.0/react.js"></script>
    <script src="/vendor/react-0.10.0/JSXTransformer.js"></script>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/showdown-0.3.1/showdown.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx" src="components/gridComponent.js"></script>
  </body>
</html>
